/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14pt;
	width: 85%;
	max-width: 800px;
	min-width: 500px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0 auto;
	background-color: beige;
}

h1, h2, h3, h4 {
	font-family: "Ubuntu", serif;
}

p {
	text-align: justify;
}

code {
	background-color: lightgray;
	overflow: scroll;
}

.infobox,
.warnbox
{
	padding-left: 80px;
	padding-right: 5px;
	margin-left: 40px;
	min-width: 350px;
	width: 70%;
	min-height: 80px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 70px 70px;
	border-width: 2px;
	border-style: solid;
}

.infobox {
	background-image: url(../img/info.png);
	border-color: blue;
}

.warnbox {
	background-image: url(../img/warning.png);
	border-color: red;
}
