/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);

body {
	font-family: "Open Sans", sans-serif;
	width: 85%;
	max-width: 824px;
	min-width: 524px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0 auto;
	background-color: beige;
}

h1, h2, h3, h4 {
	font-family: "Ubuntu", sans-serif;
}

.infobox {
	background-color: white;
	border-color: blue;
	border-width: 5px;
	border-style: solid;
}

.warnbox {
	background-color: orange;
	border-color: red;
	border-width: 5px;
	border-style: solid;
}
